@inherits LayoutComponentBase
@inject IAuthenticationService AuthenticationService


<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        @if (AuthenticationService.User != null)
        {
            <div class="top-row px-4">
                <NavLink href="logout" class="ml-md-auto btn btn-danger"><span class="oi oi-account-logout" aria-hidden="true"/> Logout</NavLink>
            </div>
        }

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
