@inherits LayoutComponentBase
@inject IAuthenticationService AuthenticationService
@inject NavigationManager NavigationManager


<div class="page">
    <div class="sidebar">
        <NavMenuOld />
    </div>

    <div class="main">
        @if (AuthenticationService.User != null)
        {

            <div class="top-row px-4">
                <EditForm Model="@model" OnSubmit="StartSearching">
                    <div class="input-group">
                        <InputText @bind-Value="model.SearchString" class="form-control" placeholder="Search Pigeon" />
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-secondary"><span class="oi oi-magnifying-glass" aria-hidden="true" /></button>
                        </div>
                    </div>
                </EditForm>
                <NavLink href="logout" class="ml-md-auto btn btn-danger"><span class="oi oi-account-logout" aria-hidden="true" /> Logout</NavLink>
            </div>
        }

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code{
    private Model model = new Model();

    private void StartSearching()
    {
        NavigationManager.NavigateTo($"search/{model.SearchString}");
        Console.WriteLine("test");
    }

    private class Model
    {
        public string SearchString { get; set; }
    }
}