@inherits LayoutComponentBase
@inject IAuthenticationService AuthenticationService

@if (AuthenticationService.User != null)
{
    <NavMenu />
}

<main role="main" class="container">
    @Body
</main>

@code{


}