@page "/friendRequest"

<div class="card mt-4">
    <h4 class="card-header">Received</h4>
    <div class="card-body">
        <ul>
            <li>"No result"</li>
        </ul>
    </div>
</div>
<div class="card mt-4">
    <h4 class="card-header">Sent</h4>
    <div class="card-body">
        <ul>
            <li>"No result"</li>
        </ul>
    </div>
</div>

@code {

}
